body {
  font: 11px "Century Gothic", Futura, sans-serif;
  margin: 50px;
  
}


ol, ul {
  padding-left: 40px;
}

.floatRight{
  float: right;
  font-weight: bold;
}

	#showMoreIcon{
		width: 40px;
		height: 40px;
		margin-top: -16px;
		cursor: pointer;
		opacity: 0.8;
	}

	#addDocIcon{
		width: 40px;
		height: 40px;
		margin-top: -16px;
		cursor: pointer;
		opacity: 0.8;
	}


	#checkCol{
		font-size: 10px;
		margin-top: 32px;
	}

	#checkGroup{
		margin-top: 36px;	
	}



	#checkGroup{
		margin-top: 30px;
	}


@font-face {
    font-family: oldMacFont;
    src: url(./assets/font/HelveticaNeue.ttf);
}

 .title{
	font-family: oldMacFont;

}


#tableTitle{
	margin-top: 45px;
}

#mobileTableTitle{
	display: none;
}


#formRentInformation{
	margin-bottom: 20px;
	padding: 50px;
	padding-top: 10px;
}

@media screen and (max-width: 768px) {
	
	#checkGroup{
		margin-top: 58px;	
	}
	

	#mobileTableTitle{
	display: block;
	margin: 18px;
	}
	
	#tableTitle{
		display: none;
	}

	#filter{
		width: 80vw;
	}
	
	#formRentInformation{
		margin-bottom: 20px;
		padding: 30px;
		padding-top: 20px;
	}

	logoutButton{
		width: 80px!important;
		height: 80px!important;
	}

	.checkbox-inline:first-child{
		margin-left: 10px!important;
	}

	.checkbox-inline{
		width: 95px!important;
		margin-top: 5px;
	}

	.checkbox-inline:last-child{
		width: 125px!important;
	}



	#logoutCol{
		margin-top: 34px;
		margin-left: 10px;
	}


		#checkCol{
		font-size: 10px;
		margin-top: 12px;
	}

	#showMoreIcon{
		font-size: 10px;
		margin-top: 0px;
		margin-left: 140px;
	}

	#addDocIcon{
				margin-top: 1px;
	}


	
	#resTable td{
		display: block; 
	}

	#resTable th{
		display: block; 
	}

	#resTable tr{
		display: block; 
	}

	#resTable tbody{
		display: block; 
	}

	#resTable table{
		display: block; 
	}

	#resTable thead{
		display: block; 
	}

	#resTable span{
		display: block; 
	}



	.tableData{
		position: absolute;
	}

	tbody{
		border: 0px solid white;
	}

	#resTable{
		border: 0px solid white!important;
	}
	.table-responsive{
		border: 0px solid white!important;
	}

	.container
	{
			border: 0px solid white!important;
	}

  /* Hide table headers (but not display: none;, for accessibility) */
	#resTable thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  

	#resTable tr {
		border: 0px;
		margin-bottom:0px;
		margin-bottom: 40px;
	 }

  #resTable td:first-child{
		border-left: 1px solid #ddd !important;
	}

	#resTable td:last-child{
		border-right: 1px solid #ddd !important;
		border-bottom: 1px solid #ddd !important;
	}
  td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 0px; 
		position: relative;
		padding-left: 50%; 
  }
  


  td:before { 
		/* Now like a table header */
		position: relative;
		/* Top/left values mimic padding */
		top: 0px;
		width: 45%; 
		white-space: nowrap;
		margin:0px;
		margin-left: 7px;
	}

	.rowData
	{
		position: absolute;
		right: 15px;
		top: 7px;
	}


	#resTable td:nth-of-type(1):before { content: "#: "; font-weight: bold;}
	#resTable td:nth-of-type(2):before { content: "Possessore: "; font-weight: bold;}
	#resTable td:nth-of-type(3):before { content: "Numero di serie: "; font-weight: bold;}
	#resTable td:nth-of-type(4):before { content: "Data inizio: "; font-weight: bold;}
	#resTable td:nth-of-type(5):before { content: "Data termine: "; font-weight: bold;}
	#resTable td:nth-of-type(6):before { content: "Nome mac: "; font-weight: bold;}
	#resTable td:nth-of-type(7):before { content: "Codice: "; font-weight: bold;}
	#resTable td:nth-of-type(8):before { content: "Rata mensile: "; font-weight: bold;}
	#resTable td:nth-of-type(9):before { content: "Ultima modifica: "; font-weight: bold;}
	#resTable #rowDataFix:before { content: "Note: "; font-weight: bold;}
	#resTable .rowDataFix2:before { content: "Cancella: "; font-weight: bold;}
	#resTable #rowDataFix3:before { content: "Modifica: "; font-weight: bold;}


}
